
/* 清除标签默认内外边距 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img,
input,
ul,
ol,
dl,
li,
dt,
dd,
p {
    margin: 0;
    padding: 0
}

/* 清除默认样式 */

/* a标签取消下划线 */
a {
    text-decoration: none;
    /* 可选：字体颜色为白色 */
    color: #FFF;
}
/* li标签取消前面的序号 */
li {
    list-style: none;
    /* 可选：给li 设置鼠标经过时为小手 */
    cursor: pointer;
}
/* img标签清除边缘空白区域 */
img {
    vertical-align: middle;
}
/* i 标签清除斜体样式 */
i {
    font-style: normal;
}

/* 应用样式 */

/* 版心 */
.w {
    width: 1180px;
    margin: 0 auto;
}
/* 相对定位 */
.pr {
    position: relative;
}
/* 左浮动 */
.fl {
    float: left;
}
/* 右浮动 */
.fr {
    float: right;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}
.clearfix {
    *zoom: 1;
}
/* 字体颜色为白色 */
.cw {
    color: white;
}
/* 设置透明度为 0 */
.op0 {
    opacity: 0;
}
/* 设置透明度为 1 */
.op1 {
    opacity: 1;
}
/* 设置不可见 */
.dn {
    display: none;
}
/* 设置隐藏 */
.over {
    overflow: hidden;
}


